.game-body-multiplayer {
    width: 100%;
    padding: 20px;
    margin-top: auto;
    height: 80vh;
    display: flex; /* Passage en row */
    justify-content: space-between; /* Évite tout espace supplémentaire */
    align-items: stretch; /* S'étendent sur toute la hauteur */
}

.game-mode-button {
    background: url('/gameMode/ai_mode.png') no-repeat center/cover;
    height: 100px;
    text-shadow: 
    0 0 2px gold, 
    0 0 4px gold, 
    0 0 6px gold;
    font-size: 1rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s;
    width:250px;
}

.game-mode-button:hover {
    opacity: 0.8;
}

.start-button {
    background: linear-gradient(to right,rgb(255, 215, 0),rgb(255, 191, 0),rgb(255, 215, 0));
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    box-shadow: 
        0 0 20px red, 
        0 10 20px blue;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width:250px;
}

.start-button:hover {
    background:linear-gradient(to right,rgb(234, 199, 0),rgb(233, 175, 0),rgb(234, 199, 0));
}

.cancel-button {
    background: linear-gradient(to right,rgb(255, 215, 0),rgb(255, 191, 0),rgb(255, 215, 0));
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    box-shadow: 
        0 0 20px red, 
        0 10 20px blue;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    width:250px;
    display: inline-flex;
    justify-content: center;
}
    
.cancel-button:hover {
    background: linear-gradient(to right,rgb(246, 61, 61),rgb(255, 0, 0),rgb(246, 61, 61));
}

.full-button {
    background: linear-gradient(to right,rgb(181, 181, 181),rgb(122, 122, 122),rgb(181, 181, 181));
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: not-allowed;
    transition: background 0.3s;
    width:250px;
    display: inline-flex;
    justify-content: center;
}

.game-options {
    display: flex;
    gap: 8px;
}

.join-button,
.create-button {
    width:120px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    font-family: monospace;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.join-button:hover,
.create-button:hover {
    background: white;
    color: black;
}


.background {
    background: url('/animations/bg_an_swarm.gif') no-repeat center center;
    background-size: cover;
    background-attachment: scroll; 
    width: 100%;
    height: 100vh;
}


.character-menu {
    width: 50%;
    flex-direction: column; /* Aligner les enfants en colonne */
    display: flex;
    align-items: start;
    gap: 20px;
    flex: 1;
}

.deck-menu{
    width: 50%;
    flex-direction: column; /* Aligner les enfants en colonne */
    display: flex;
    align-items: start;
    gap: 20px;
    flex: 1;
}

.deck-display {
    background-color: rgba(42, 136, 252, 0.1);
    width: 100%;
    height: 185px;
    display: flex;
    gap: 10px;
    align-items: center;
    overflow-y: auto;
    flex-wrap: nowrap;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
}

.deck-display::-webkit-scrollbar {
    /*background-color: rgba(42, 136, 252, 0.1);*/

}

@media (max-width: 768px) { /* Adaptable selon ton breakpoint */
    .deck-display {
      display: none;
    }

    .background {
        background-attachment: fixed; 
        height: 100%;
    }
  }

.card-display {
    background-size: cover;
    height: 175px;
    width: 130px;
    background-size: 130px 175px;
    flex-shrink: 0;
    
}

.h1-menu {
    font-size: 1.2rem;
    text-shadow: 
        0 0 4px black;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    color: white;
}

.p-menu {
    font-size: 0.8rem;
    text-shadow: 
        0 0 4px black;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    color: white;
}

.menu-button {
    background: linear-gradient(to right, #0a1f44, #000, #0a1f44);
    color: gold;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width:195px;
    /* border: 1mm gold;
    border-style: inset; */
}

.menu-button:hover {
    background: linear-gradient(to right,rgb(16, 44, 94),rgb(7, 7, 7),rgb(13, 38, 81));
}

.menu-button-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.gif-container {
}