<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p>${message}</p>
    <a href="${url.loginRestartFlow}">Return to login</a>
</body>
</html>
