.chat-container-display {
  height: 200px;

  position: fixed;
  left:25px;
  width: 275px;
  bottom: 50px;
  z-index: 20;
}

.chat-container {
  display: none;
}
.chat-message {
  background: linear-gradient(rgba(13, 44, 97, 0.85),rgba(10, 31, 68, 0.85));
  height: 165px;
  position: fixed;
  left: 25px;
  width: 275px;
  bottom: 115px;
  overflow-y: auto;
  border: 0.2rem solid;
  border-style: inset;
  border-color: rgb(234, 199, 0);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
}

.chat-send {
  display: flex;
  position: fixed;
  height: 35px;
  left: 25px;
  width: 275px;
  bottom: 75px;
  border: 0.2rem solid;
  border-style: inset;
  border-color: rgb(234, 199, 0);
}
.chat-input {
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(13, 44, 97, 0.85);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
}

.chat-button{
  display: none;
}


@media (max-width: 768px) { /* Adaptable selon ton breakpoint */
  .chat-button {
    height: 100%;
    width: 15%;
    color: rgb(13, 44, 97);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    background: linear-gradient(to right,rgb(255, 215, 0),rgb(255, 191, 0),rgb(255, 215, 0));
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-input {
    width: 85%;
  }
}