.menu-item {
    color:rgb(196, 196, 196);
    text-decoration: none;
    transition: color 0.3s;
    font-family: monospace;
    font-size: 0.8rem; /* Correspond à text-2xl */
    text-transform: uppercase;
    transition: color 0.3s;
    padding: 24px; 
    line-height: 1.25rem; 
    font-weight: 600;
}

.menu-item:hover {
    color: white;
}
.menu-item.active {
  color: gold;
  font-weight: bold;
}

.header {
    background: linear-gradient(to right, #0a1f44, #000);
    color: gold;
    padding: 1px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;
}
.header-game {
    background: linear-gradient(to right,rgb(10, 31, 68), transparent);
    color: gold;
    padding: 1px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-image {
    height: 70px;
    margin-right: 12px;
}

.menu {
    display: flex;
    gap: 24px;
}