.mini-menu-container {
    height: 50px;
    display: flex;

    position: fixed;
    left:25px;
    width: 175px;
    bottom: 10px;
    z-index: 20;
    justify-content: space-between;
  }

.mini-menu-button {
    display: flex;
    background: linear-gradient(to right, #0a1f44, #000, #0a1f44);
    color: rgb(234, 199, 0);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    width:50px;
    border: 0.1rem solid;
    border-style: inset;
    border-color: rgb(234, 199, 0);
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.escape-menu-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(217deg, rgba(16, 44, 94, 0.6), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(16, 44, 94, 0.6), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(16, 44, 94, 0.6), rgba(0,0,255,0) 70.71%);
    background-size: cover;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.escape-menu-close {
    display: none;
}

.escape-menu {
    height:350px;
    width:300px;
    background: linear-gradient(217deg, rgba(16, 44, 94, 1), rgba(0,0,0,1) 70.71%),
                linear-gradient(127deg, rgba(16, 44, 94, 1), rgb(0, 0, 0) 70.71%),
                linear-gradient(336deg, rgba(16, 44, 94, 1), rgba(0,0,0,1) 70.71%);

    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    border: solid;
    border-style: inset;
    border-color: rgb(234, 199, 0);
    flex-direction: column;
    display:flex;
    justify-content: space-between;
}

.escape-menu h1 {
    display: flex;
    color: rgb(234, 199, 0);
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.escape-menu hr {
    border-top: 1px solid rgb(234, 199, 0);
}

.escape-menu-button {
    width:100%;
    height: 50px;
    display: flex;
    background: linear-gradient(to right, #0a1f44, #000, #0a1f44);
    color: rgb(234, 199, 0);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    border: 0.1rem solid;
    border-style: inset;
    border-color: rgb(234, 199, 0);
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.escape-menu-button:hover {
    background: linear-gradient(to right,rgb(16, 44, 94),rgb(7, 7, 7),rgb(13, 38, 81));
}

@media (min-width: 768px) {
    .mini-menu-button:hover {
        background:linear-gradient(to right,rgb(234, 199, 0),rgb(233, 175, 0),rgb(234, 199, 0));
        color: #0a1f44;
    }

}