.settings-menu-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(217deg, rgba(16, 44, 94, 0.6), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(16, 44, 94, 0.6), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(16, 44, 94, 0.6), rgba(0,0,255,0) 70.71%);
    background-size: cover;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.settings-menu-close {
    display: none;
}

.settings-rigth-menu {
    height:80vh;
    width:200px;
    background: linear-gradient(217deg, rgba(16, 44, 94, 1), rgba(0,0,0,1) 70.71%),
                linear-gradient(127deg, rgba(16, 44, 94, 1), rgb(0, 0, 0) 70.71%),
                linear-gradient(336deg, rgba(16, 44, 94, 1), rgba(0,0,0,1) 70.71%);

    padding: 10px;
    border-radius: 15px 0px 0px 15px;
    border: solid;
    border-style: inset;
    border-color: rgb(234, 199, 0);
    flex-direction: column;
    display:flex;
}

.settings-left-menu {
    height:80vh;
    width:750px;
    background: linear-gradient(217deg, rgba(16, 44, 94, 1), rgba(0,0,0,1) 70.71%),
                linear-gradient(127deg, rgba(16, 44, 94, 1), rgb(0, 0, 0) 70.71%),
                linear-gradient(336deg, rgba(16, 44, 94, 1), rgba(0,0,0,1) 70.71%);

    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    border: solid;
    border-style: inset;
    border-color: rgb(234, 199, 0);
    flex-direction: column;
    display:flex;
}
.sound-container {
    width: 100%;    
}
.sound-bar {
    width: 50%;
    display: flex;
    gap: 10px;
}

.settings-rigth-menu h1 {
    display: flex;
    color: rgb(234, 199, 0);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.settings-left-menu h1 {
    display: flex;
    color: rgb(234, 199, 0);
    font-size: 1.3rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    justify-content: start;
    align-items: center;
}

input[type="range"] {
    background: transparent;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    
}

/* Curseur (Chrome, Safari, Edge) */

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgb(234, 199, 0) var(--progress), rgba(16, 44, 94, 0.6) var(--progress));
    height: 8px;
    border-radius: 4px;
}

/* Curseur (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: rgb(234, 199, 0);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px; /* Ajuster l'alignement */
}

/* Barre de progression (Firefox) */
input[type="range"]::-moz-range-track {
    background: rgb(234, 199, 0);
    height: 8px;
    border-radius: 4px;
}

/* Curseur (Firefox) */
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: rgb(234, 199, 0);
    border-radius: 50%;
    cursor: pointer;
}

.settings-rigth-menu button {
    width:100%;
    height: 50px;
    display: flex;
    background: linear-gradient(to right, #0a1f44, #000, #0a1f44);
    color: rgb(234, 199, 0);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    border: 0.1rem solid;
    border-style: inset;
    border-color: rgb(234, 199, 0);
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.settings-rigth-menu hr {
    border-top: 1px solid rgb(234, 199, 0);
}

.settings-left-menu hr {
    border-top: 1px solid rgb(234, 199, 0);
}

.settings-rigth-menu button:hover {
    background: linear-gradient(to right,rgb(16, 44, 94),rgb(7, 7, 7),rgb(13, 38, 81));
}

@media (min-width: 768px) {
    .settings-rigth-menu button:hover {
        background:linear-gradient(to right,rgb(234, 199, 0),rgb(233, 175, 0),rgb(234, 199, 0));
        color: #0a1f44;
    }

}