.button-container {
    position: relative;
    background: transparent;
    /* border: 1mm gold;
    border-style: inset;
    border-radius: 8px; */
    border-radius: 6px;
  }
  
  .custom-button {
    position: absolute;
    background: linear-gradient(to right, #0a1f44, #000, #0a1f44);
    color: gold;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }

  .custom-button-activate {
    position: absolute;
    background: linear-gradient(to right,rgb(255, 215, 0),rgb(255, 191, 0),rgb(255, 215, 0));
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    top: 0;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }

  .custom-button-activate:hover {
    background: linear-gradient(to right,rgb(225, 192, 3),rgb(255, 191, 0),rgb(225, 192, 3));

  }
  
  
  .custom-button:hover {
    background: linear-gradient(to right,rgb(16, 44, 94),rgb(7, 7, 7),rgb(13, 38, 81));
  }

  /* Bouton gauche : inclinaison sur la droite */
  .custom-button.left, .custom-button-activate.left {
    border-radius: 5px 0px 0px 5px;
    clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
  }
  
  /* Bouton du milieu : inclinaison des deux côtés */
  .custom-button.middle, .custom-button-activate.middle{
    clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
  }
  
  /* Bouton droit : inclinaison sur la gauche */
  .custom-button.right, .custom-button-activate.right{
    border-radius: 0px 5px 5px 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
  }

  
  