.game-body-deck {
    position: relative;
    width: 100%;
    height: calc(100vh - 145px); /* Ajuste selon la hauteur du header */
 }


.background-deck {
    background: url('/background/landing.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.deck-deck-display {
    background-color: rgba(42, 136, 252, 0.1);
    width: 100%;
    height: 350px;
}
.deck-card-display {
    background-size: cover;
    height: 280px;
    width: 200px;
    background-size: 200px 280px;
    flex-shrink: 0;
}

.deck-button {
    background: linear-gradient(to right, #0a1f44, #000, #0a1f44);
    color: gold;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width:195px;
    height:195px;
}

.deck-button:hover {
    background: linear-gradient(to right,rgb(16, 44, 94),rgb(7, 7, 7),rgb(13, 38, 81));;
}

.deck-button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}