.game-container-style {
    background-image: url("/background/eoaalien.jpg");
    display: flex;
    flex-direction: column;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    background-size: 100% 100vh;
}

.hand-container-1 {
    display: flex; 
    background-color: transparent;
    width: 100%;
    height: 10vh;
}

.hand-style-2-0 {
    display: flex; 
    background-color: transparent;
    flex-direction: column;
    align-items: end; 
    justify-content: center;
    width: 25%;
    height: 100%;
}

.hand-style-2-1 {
    display: flex; 
    background-color: transparent;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.hand-style-2-2 {
    display: flex; 
    background-color: transparent;
    width: 25%;
    height: 100%;
}

.hand-container-2 {
    display: flex;     
    background-color: transparent;
    width: 100%;
    height: 20vh;
}

.board-container {
    display: flex; 

    width: 1OO%;
    height: 30vh;
    background-color: transparent;
}

.board-style-0{
    display: flex; 
    background-color: transparent;
    width: 20%;
    height: 100%;
}

.board-style-1{
    display: flex; 
    background-color: transparent;
    width: 60%;
    height: 100%;
    justify-content: center;
}

.end-style {
    background-color: transparent;
    width: 100%;
    height: 10vh;
    display: flex; 
    align-items: center; 
}

    
 .progress-bar-container {
    width: 150px; 
    height: 20px;
    background: transparent;
    margin: 0 10px; 
}
  
.end-turn-style-2 {
    display: flex;
    justify-content: flex-end; /* Aligne le bouton à droite */
    align-items: center; /* Centre le bouton verticalement */
    width: 100%; /* Prend toute la largeur du parent */
    background-color: transparent; /* Garde le bleu pour vérification */
    padding: 0 20px; /* Un peu d'espace sur les bords */
}

.end-turn-style {
    aspect-ratio: 1 / 1;
    background: linear-gradient(to right, #0a1f44, #000, #0a1f44);
    color: gold;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}
  
 .player-style {
    aspect-ratio: 1 / 1;
    background-size: cover;
    cursor: pointer;
}

.end-turn-style:hover {
    background: linear-gradient(to right,rgb(16, 44, 94),rgb(7, 7, 7),rgb(13, 38, 81));
}

.lifebar {
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(to right,rgb(161, 2, 2),rgb(255, 0, 0));
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 1rem;
}

.manabar {
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(to right,rgb(0, 43, 117),rgb(0, 92, 251));
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 1rem;
}