.game-body-marketplace {
    position: relative;
    width: 100%;
    height: calc(100vh - 145px); /* Ajuste selon la hauteur du header */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}


.background-marketplace {
    background: url('/background/landing.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }