body {
    font-family: Arial, sans-serif;
    background-color: rgb(3, 48, 51);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgb(233, 235, 238); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.logo img {
    max-width: 280px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-submit {
    background-color: rgb(13, 70, 72);
    color: rgb(242, 185, 99);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-submit:hover {
    background-color:rgb(24, 91, 94);
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #555;
}
