.game-body-expension {
    position: relative;
    width: 100%;
    height: calc(100vh - 145px); /* Ajuste selon la hauteur du header */
    display: flex;
    z-index:2;
}

.div-expension {
    width: 100%;
    height: calc(100vh - 165px); /* Ajuste selon la hauteur du header */
}


.background-expension {
    background: url('/background/bg_space.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }