.game-body-inventory {
    position: relative;
    width: 100%;
    height: calc(100vh - 145px); /* Ajuste selon la hauteur du header */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.background-inventory {
    background: url('/background/landing.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .inventory-deck-display {
    background-color: rgba(42, 136, 252, 0.1);
    width: 100%;
    height: 500px;
  }

  .card-display {
    background-size: cover;
    height: 175px;
    width: 130px;
    background-size: 130px 175px;
    flex-shrink: 0;
    
}