@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.turn-indicator-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Pour un effet visuel */
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  color:black;
}

.turn-indicator-container.show {
  opacity: 1;
  visibility: visible;
}

.turn-indicator {
  color: white; /* Couleur principale du texte */
  text-shadow: 
    0 0 2px gold,   /* Contour doré */
    0 0 4px gold, 
    0 0 6px gold;
  font-weight: bold;
  padding: 10px 10px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card {
  aspect-ratio: 481 / 618;
  cursor: pointer;
  position: relative;
  background-size: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
  transform-origin: center bottom; /* Point pivot de l'élévation */
}

.card:hover {
  transform: translateY(-20px) scale(1.1); /* La carte monte et grandit légèrement */
  z-index: 10; /* Passe au-dessus des autres cartes */
}

.card-selected {
  transform: translateY(-20px) scale(1.1); /* La carte monte et grandit légèrement */
  z-index: 10; /* Passe au-dessus des autres cartes */
}

.card2 {
  aspect-ratio: 481 / 618;
  background-size: cover;
  position: relative;
}

.indicator-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  background-color: rgba(255, 0, 0, 0.9); /* Couleur de fond (rouge translucide) */
  color: #fff; /* Couleur du texte */
  border-radius: 8px; /* Bords arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour un effet visuel */
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Animation d'apparition/disparition */
  z-index: 1000; /* S'assurer que l'élément est au-dessus des autres */
}

.indicator-message.show {
  opacity: 1;
  visibility: visible;
}

.indicator-message-text {
  color: white; /* Couleur principale du texte */
  font-weight: bold;
  padding: 10px 10px;
  animation: fadeIn 0.5s ease-in-out;
}

.indicator-victory {
  color: gold; /* Couleur principale du texte */
  text-shadow: 
    0 0 2px gold, 
    0 0 4px gold, 
    0 0 6px gold;
  font-weight: bold;
  padding: 10px 10px;
  animation: fadeIn 0.5s ease-in-out;
}

.indicator-defeat {
  color: red; /* Couleur principale du texte */
  text-shadow: 
    0 0 2px red, 
    0 0 4px red, 
    0 0 6px red;
  font-weight: bold;
  padding: 10px 10px;
  animation: fadeIn 0.5s ease-in-out;
}

.animate-forward {
  animation: moveForward 0.5s ease-out;
}

@keyframes moveForward {
  0% {
    transform: translateY(20px) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translateY(0) scale(3);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.landscape-warning-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(217deg, rgb(16, 44, 94), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgb(16, 44, 94), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgb(16, 44, 94), rgba(0,0,255,0) 70.71%);
}

.landscape-warning {
  display: flex;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  background: url('/animations/an_filp_phone.gif');
  background-size: cover;
  align-item: center;
  justify-content: center;
}